body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#page {
  width: 90%;
  max-width: 1100px;
  max-height: fit-content;
  background-color: #fff;
  border: 3px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 4rem;
  box-sizing: border-box;
}

.cv {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.cv h1 {
  font-size: 50px;
  color: red;
}

.cv p {
  font-size: 25px;
}

.cv li {
  font-size: 25px;
}

.cv h2 {
  font-size: 35px;
  color: olive;
}

.cv h3 {
  font-size: 30px;
  font-style: italic;
  color: blue;
}

#sub-head {
  font-size: 35px;
  margin-top: -25px;
}

.personal-info p {
  line-height: 10px;
}

.personal-info p a {
  color: black;
}

.skill-list ul {
  line-height: 35px;
}

.experience ul {
  line-height: 45px;
}

.socials a {
  color: black;
  font-size: 25px;
  font-weight: 500;
}
